@font-face {
  font-family: tatsamMd;
  src: url(./asset/fonts/Tatsam\ Bengali\ Rnd\ Medium\ [TheFontsMaster.com].otf);
}
@font-face {
  font-family: tatsamLt;
  src: url(./asset/fonts/Tatsam\ Bengali\ Rnd\ Light\ [TheFontsMaster.com].otf);
}

html {
  font-size: 10px;
  font-family: tatsamMd, tatsamLt, Arial, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #fff, #f8f8f8);
}
.btn {
  background-color: #6a5ae0;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 150px;
  color: #fff;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
